span.welcome {
    background-color: black;
    color: white;
    padding: 10px;
}

.logo {
    width: 3%;
}

.navbar-brand {
    background-color: #FFC7CB;
    padding: 0.5rem;
    font-weight: bold;
}

.form-select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.error {
    color: red;
}

label {
    position: relative;
}

.fa-check,
.fa-exclamation-circle {
    display: none;
    position: absolute;
    left: 31rem;
    top: 3rem;
}

@media (max-width:568px) {
    .fa-check,
    .fa-exclamation-circle {
        display: none;
        position: absolute;
        left: 28.5rem;
        top: 3rem;
    }
}

.appear {
    display: block;
}

.fa-check {
    color: rgb(26, 165, 26);
    padding-right: 5px;
}

.green_text {
    color: green;
    padding-left: 0.2rem;
}

.red_text {
    color: red;
    padding-left: 0.2rem;
}

.fa-exclamation-circle {
    color: red;
    padding-right: 5px;
}

.red_cell {
    color: white;
    background-color: red;
}

.orange_cell {
    color: white;
    background-color: orange;
}

.green_cell {
    color: white;
    background-color: green;
}

.red_alert {
    border: 2px solid red;
}

.green_alert {
    border: 2px solid green;
}


/* <i class="fas fa-check"></i><i class="fas fa-exclamation-circle"></i>*/